/* line 1, ../sass/_type.scss */
body, html {
  font-size: 16px;
  font-family: 'raleway', sans-serif; }
  @media screen and (max-width: 700px) {
    /* line 1, ../sass/_type.scss */
    body, html {
      font-size: 14px; } }

/* line 9, ../sass/_type.scss */
p {
  font-size: 1em;
  line-height: 1.1250em;
  margin: 0 0 1.1250em 0; }

/* line 14, ../sass/_type.scss */
h1 {
  font-size: 4.0000em;
  /* 64px */
  line-height: 1.1250em;
  /* 72px */
  margin-top: 0.2813em;
  margin-bottom: 0.0000em;
  font-weight: 700; }

/* line 20, ../sass/_type.scss */
h2 {
  font-size: 1.5000em;
  /* 24px */
  line-height: 1.5000em;
  /* 36px */
  margin-top: 0.7500em;
  margin-bottom: 0.0000em; }

/* line 25, ../sass/_type.scss */
h3 {
  font-size: 1.3750em;
  /* 22px */
  line-height: 1.6364em;
  /* 36px */
  margin-top: 0.8182em;
  margin-bottom: 0.0000em; }

/* line 30, ../sass/_type.scss */
.small {
  font-size: 0.8750em;
  /* 14px */
  line-height: 1.2857em;
  /* 18px */
  margin-top: 1.2857em;
  margin-bottom: 0.0000em; }

/* line 16, ../sass/_setting.scss */
body, html, .container {
  height: 100%; }

/* line 19, ../sass/_setting.scss */
span {
  color: #cdd3d8; }

/* line 22, ../sass/_setting.scss */
.name, .about, .points {
  display: none; }

/* line 1, ../sass/_layout.scss */
.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 0 auto;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

/* line 11, ../sass/_layout.scss */
.introduction {
  max-width: 50%; }

/* line 5, ../sass/style.scss */
body {
  background: #354b60;
  color: #93a0ac; }

/* line 9, ../sass/style.scss */
h1 {
  color: #93a0ac; }
