
// COLORS
$text-color:  #93A0AC;
$background: #354B60;
$highlight: lighten($text-color, 20%);

//EXTEND

%center{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

//GLOBAL
body, html, .container{
	height: 100%;
}
span{
	color: $highlight;
}
.name{
	display: none;
}